.headerlists{
font-family: cursive;
margin: 16px 24px;

}

.headerlists:hover {
    padding: 5px 10px;
    margin: 10px 11.5px;
    background-color: blanchedalmond;
    /* font-weight: bold; */
    border: 3px dashed violet;  
}
